h1{
    color: black;
    font-size: 250%;
}
header{

    background-color: #7997E0;
    
}
.bobby {
    padding: 0.5%;
    margin: 10px;
    border: 5px solid black;
    float: right;
    width: 270px;
    
}
.alimentacion{
        width: 200px;
        float: center;
}
.accessorios{
    width: 270px;
}

.redes{
    width: 100px;
}
main{
    background-color: #95C9F5;
}
body{
    background-color:#A4E6F0;
}
